@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html>body {
	font-family: 'Cafe24Ssurround', sans;
	font-size: 2rem;
	padding: 2rem;
}

/* 라이브러리 */
th, td {
	border: 1px solid black;
	padding: 10px;
	text-align: center;
}

a:hover {
	color: deepskyblue;
}

button:hover {
	color: deepskyblue;
}

li {
  padding: 1rem;
}

.logo {
	padding: 1rem;
}
.buttons > * {
	padding: 1rem;
}